
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .main-layout {
    display: flex;
    margin-top: 0px; /* Header 높이에 맞게 조정 */
  }
  
  
  .content {
    flex: 1;
    padding: 24px;
    background-color: #f0f0f0; /* 배경색 추가 */
    min-height: calc(100vh - 80px); /* 최소 높이 설정 */
  }