.qsetting-container {
    padding: 16px 36px 12px;
    background-color: #f9f9f9;
}

.qsetting-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.qsetting-ratio-container {
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 16px;
}

.current-ratio, .compare-ratio {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.qs-input-group {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.input-field {
    width: 80px;
    text-align: center;
    margin-top: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.input-field:disabled {
    background-color: #e0e0e0;
}

.button-save {
    background-color: #3a5e36;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    min-width: 120px;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button-secondary {
    background-color: #b9b9b9;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* 애니메이션 추가 */
}

.button-secondary:hover {
    background-color: #a1a1a1;
    transform: scale(1.05); /* 버튼 크기를 조금 키움 */
}