.accordion-item {
    margin-top: 44px;
    margin-bottom: 10px;
}

.accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.accordion-header span {
    margin-left: 10px;
}

.accordion-content {
    padding: 10px 20px;
    margin-right: 10px;
}

.accordion-icon {
    font-size: 18px;
    color: gray;
}

.accordion-header:hover .accordion-icon {
    color: black;
}


.activity-info {
    display: flex;
    gap: 10px;
}

.info-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.form-container {
    background-color: #FFFFFF;
    border-top: 10px solid #8DC63F; /* 초록색 상단 줄 추가 */
    padding: 30px 60px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 약간의 그림자 추가 */
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center; /* 수직 정렬 */
    gap: 12px;
}

.form-group label {
    font-weight: bold;
    width: 100px; /* 레이블의 고정 너비 */
}

.form-control {
    /* flex: 1; 입력 필드가 남은 공간을 차지하도록 */
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc; /* 스타일을 이미지와 맞춤 */
}

.form-control-contact {
    padding: 8px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc; /* 스타일을 이미지와 맞춤 */
}

.contact-inputs {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-inputs input {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc; /* 스타일을 이미지와 맞춤 */
}

.contact-inputs span {
    padding: 0 5px;
}
